html {
    background: url("../img/wiki.jpg") no-repeat center center fixed;
    background-size: cover;
}
body , input, button{
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: 100;
    text-align: center;
}
input {
  border: solid 1px gainsboro;
  display: block;
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 auto;
  width: 60%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 10px;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus {
  outline: none;
}
button {
    background: #482261;
    border: solid 2px #482261;
    box-shadow: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0.8em 1em;
}
button:hover {
    border: solid 3px white;
}
.fa-search {
    color: white;
}
.searchButton{
    background: #2B7E91;
    border: solid 2px #2B7E91;
    margin-top: 2em;
    padding: 0.5em .8em;
}
ul {
    list-style: none;
    margin:0 auto;
    padding: 0;
    width: 80%;
}
li {
    background: white;
    margin: 0.5em;
    padding: 0.5em;
}
a {
    color: #482261;
    font-size: 1.5em;
    text-decoration: none;
}