main{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    width: 50%;
    margin: auto;
}
header{
    background-color: #053138;
    color: #FFFCF0;
    text-align: center;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
}
form{
    color: #0C2733;
    padding: 0 1em;
}
h1{
    text-transform: uppercase;
}
p{
    color: #8C2131;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}
input{
    margin-left: 6px;
}
.text-color{
    margin-left: 10px;
    color: #8C2131;
}
#name, #email{
    width: 80%;
    padding: 5px;
}
#number{
    width: 6em;
    margin-left: 1.3em;
    padding: 5px;
}
#name{
    margin-left: 3px;
}
#name-label, #email-label, #number-label, #role-label, #comments-label,legend{
    font-size: 1em;
}
#dropdown{
    padding: 5px;
    color: #8C2131;
}
#comments{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 5em;
    width: 100%;
}
#submit{
    border-color: #053138; 
    background-color: #053138;
    color:#FFFCF0;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 0.75em;
    text-transform: uppercase;
    width: 11em;
}

#submit:hover {
    border-color: #1C1A21;
    background-color: #1C1A21;
    color:#FFFCF0;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 0.75em;
    text-transform: uppercase;
    width: 11em;
}